@import "../../styles/variables";
@import "../../styles/miixins/paragraph";

.listContainer {
  max-width: 900px;
  margin: 60px auto;

  .input {
    @include paragraph(26px, $dark-1, 0);
    width: calc(100% - 20px);
    padding: 0 10px;
    height: 46px;
    border: none;
    box-shadow: none;

    &:focus {
      outline: none;
    }
  }
}

.list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  border: 1px solid rgba($color: $color-orange, $alpha: 0.6);

  &.hidden {
    display: none;
    opacity: 0;
    visibility: 0;
    height: 0;
    overflow: hidden;
  }

  li {
    @include paragraph(16px, #ffffff, 0);
    display: flex;
    padding: 18px 12px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba($color: $color-orange, $alpha: 0.5);
    border-radius: 5px;

    &.added {
      background: rgba($color: $color-orange, $alpha: 1);
    }

    &:hover {
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      background: rgba($color: $color-orange, $alpha: 1);
      color: #ffffff;
    }

    button {
      border: none;
      background: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.modal {
  width: 700px;
  height: 400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .modalContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;

    label {
      @include paragraph(14px, #ffffff, 0);
      font-weight: 700;
      text-transform: uppercase;
    }

    .customNameInput {
      @include paragraph(22px, #ffffff, 0);
      padding: 0 10px;
      height: 40px;
      width: calc(100% - 20px);
      background: rgba($color: $dark-2, $alpha: 1);
      box-shadow: none;
      border: 2px solid transparent;
      transition: all 0.2s ease;
      margin: 20px 0;

      &:focus {
        outline: none;
        border: 2px solid rgba($color: $color-orange, $alpha: 0.7);
      }
    }
  }

  .btnContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .addBtn,
    .removeBtn {
      background-color: rgba($color-orange, 0.8);
      @include paragraph(16px, #ffffff, 0);
      padding: 12px 12px;
      border-radius: 20px;
      border: none;
      box-shadown: none;

      &:hover {
        background-color: rgba($color-orange, 1);
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.rootContainer {
  display: flex;
  flex-direction: row;
  padding: 100px;

  .col {
    margin: 0 20px;

    .meta {
      display: flex;
      align-items: center;
      margin: 20px 0;

      span {
        @include paragraph(14px, #ffffff, 0);
        margin-left: 10px;

        .count {
          padding: 4px 8px;
          background-color: rgba($color-orange, 1);
          border-radius: 50%;
          margin-right: 5px;
        }
      }
    }
  }

  h1 {
    @include paragraph(22px, #ffffff, 0);
    margin: 20px 0;
  }
}
