@import "../../../styles/variables";
@import "../../../styles/miixins/paragraph";

.oneLight {
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    @include paragraph(20px, #ffffff, 0);
    margin-top: 20px;
    font-weight: 400;
  }

  .bulb {
    position: relative;

    svg {
      margin: 20px 0;
    }
  }
}