@import "../../styles/variables";
@import "../../styles/miixins/paragraph";

.lightsContainer {
  flex-direction: column;
}

.lightsHandler {
  display: flex;
  align-items: center;
  padding: 30px;

  &:hover {
    cursor: pointer;
  }

  span {
    @include paragraph(16px, #ffffff, 0);
    margin-left: 10px;
  }
}

.lightInnerContainer {
  display: flex;
  flex: 1;
  justify-content: space-around;
}