@import '../../../styles/variables';
@import '../../../styles/miixins/paragraph';

.boxContainer {
  &.hasPadding {
    padding: $box-padding-l;
  }
  border-style: solid;
  margin: 20px;
  z-index: 9;

  h1 {
    @include paragraph(40px, #ffffff, 0);
  }
}