@import "../../styles/variables";
@import "../../styles/miixins/paragraph";

.acContainer {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center; 

  span {
    @include paragraph(18px, #ffffff, 0);
  }

  img {
    margin-right: 10px;
  }
}