@import "../../styles/variables";
@import "../../styles/miixins/paragraph";

.acContainer {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  display: revert;
  text-align: center;

  &.on {
    background: rgba($color: $color-orange, $alpha: 1.0);
    transition: all 0.2s ease-in-out;
  }

  &.off {
    transition: all 0.2s ease-in-out;
  }

  span {
    @include paragraph(18px, #ffffff, 0);
  }

  img {
    margin-right: 10px;
  }
}